/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
}

.btn-primary {
    background: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 1rem;
    padding: 10px 24px;
    font-weight: 700;
    margin-top: 30px;
}

/* header related style */
header {
    background: #FFF;
}

.header-tittle {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #3A3A3A;
}

/* banner related style */
.banner {
    width: 82%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    padding-bottom: 150px;
}

.banner-img {
    position: relative;
}

.banner-img-2 {
    position: absolute;
    top: 30px;
    left: 20px;
}

.banner-img img {
    width: 100%;
}

.banner-img-2 {
    width: 90%;
}

.banner-tittle {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-des {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

/* banner related style end here */

/* sponsor related styles */
.sponsor {
    max-width: 1110px;
    margin: 20px auto;
    background: #FFF;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

}

.sponsor-container {
    display: flex;
    justify-content: center;
    gap: 61px;
    padding: 50px;
}

/* sponsor styles end here */

/* collection related styles */
.collection {
    margin: 100px auto;
}

.collection-tittle {
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}

.collection-container {
    padding: 50px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.collection-container img {
    width: 100%;
}

.checked {
    color: #FB8200;
}

.product-name {
    color: #18191F;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
}

.product-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 400;
}

.product-detais {
    color: #787885;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.016rem;
}

.row-1 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-2 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-3 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-4 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-5 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-6 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-7 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-8 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.row-9 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.more {
    display: flex;
    justify-content: end;
    padding-right: 120px;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
}

/* featured related styles */
.featured {
    display: flex;
    padding: 0px 100px;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.featured img{
    width: 100%;
}
.featured-content{
    width: 50%;
}
.featured-tittle {
    color: #0A0826;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 60px;

}

.featured-des {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;

}

/* featured styles end here */
/* footer styles */
footer {
    max-width: 1440px;
    background: #0A0826;
    padding: 70px;
    text-align: center;
    
}


.footer .section-tittle {
    color: #fff;
}

.footer-copyright {
    color: #D9DBE1;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
}

.icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #FFF;
}

/* Responsive media queries */

/* Mobile device */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    nav>ul {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 5px;
        text-align: center;
    }

    .banner-tittle {
        font-size: 2rem;
        line-height: normal;
    }

    .banner-des {
        font-size: 0.875rem;
    }

    .sponsor-container {
        flex-wrap: wrap;
    }

    .collection-container {
        grid-template-columns: 1fr;
        padding: 20px;


    }
    .featured{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
    .featured-content{
        width: 100%;
    }
    

}

/* Medium device */
